* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin btn() {
  width: 130px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  background-color: #0d6efd;
  transition: 200ms all;
  color: #fff;
  display: none;
}
body {
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  height: 84px;
  background-color: #273053;

  &__container {
    max-width: 1500px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    @include flex();
    .header__logo {
      width: 200px;
      color: #0dcaf0;
      font-size: 22px;
      @include flex();
      .fa-bullseye {
        width: 50px;
        height: 50px;
        font-size: 45px;
        margin-right: 10px;
      }
      .logo__text {
        width: 100%;
        height: 100%;
        text-align: left;
        display: inline-block;
      }
    }
    .menu__items {
      @include flex();
      list-style-type: none;
      li {
        margin: 0 15px;
        a {
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          &:hover {
            color: #0dcaf0;
          }
        }
        .buy_btn {
          width: 160px;
          height: 50px;
          @include btn();
          display: block;
          &:hover {
            background-color: #0dcaf0;
            cursor: pointer;
          }
        }
      }
    }
  }
  .buy_btn--m {
    @include btn();
    &:hover {
      background-color: #0dcaf0;
      cursor: pointer;
    }
  }
}
.header__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("./images.jpg");
  width: 100%;
  height: 100vh;
  .main__h1 {
    text-align: center;
    color: white;
    font-size: 62px;
    margin-bottom: 24px;
    .main__span {
      color: #0dcaf0;
    }
  }
  .main__btn {
    width: 172px;
    height: 46px;
    border: 1px solid #fff;
    background-color: transparent;
    color: white;
  }
  .menu {
    padding-top: 280px;
    display: flex;
    align-items: center;
    .box {
      position: relative;
      width: 416px;
      height: 277px;
      padding-right: 30px;
    }
    .box img {
      width: 100%;
      height: 277px;
    }
    .box h1 {
      font-size: 36px;
      color: blue;
      position: absolute;
      top: 115px;
      left: 60px;
    }
  }
}
.boxes{
  padding: 150px 0;
  .story{
    color: black;
    font-size: 48px;
    margin-bottom: 35px;
    .stories{
      color: #0dcaf0;
    }
    
  }
  .memory{
    font-size: 36px;
    margin-bottom: 20px;
  }
  .leader{
    color: #717275;
    margin-bottom: 20px;
  }
  .speaker__btn{
    width: 159px;
    height: 50px;
    font-size: 16px;
    color: #0dcaf0;
    border-radius: 30px;
    border: 1px solid #0dcaf0;
    background-color: transparent;
  }
  .speakers__btn{
    width: 197px;
    height: 46px;
    font-size: 16px;
    color: white;
    border-radius: 30px;
    border: none;
    background-color: #273053;
    margin-left: 20px;
  }
}

.fa-bars {
  display: none !important;
}
@media screen and (max-width: 1500px) {
  .header__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 1000px) {
  .menu__items {
    display: none !important;
  }
  .fa-bars {
    display: block;
  }
  .buy_btn--m {
    display: block !important;
  }
  .header__logo {
    margin: auto;
    width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 490px) {
  .header__container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .buy_btn--m {
    width: 90px;
    height: 25px;
    font-size: 9px;
  }
  .header__logo {
    font-size: 16px;
  }
  .fa-bullseye {
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 420px) {
  .buy_btn--m {
    width: 80px;
    height: 20px;
    font-size: 7px;
  }
  .header__logo {
    font-size: 16px;
  }
  .fa-bullseye {
    width: 25px;
    height: 25px;
    font-size: 23px;
    margin-right: 50px;
  }
}
